* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CryptoCoinDiv {
    padding: 5rem;
    background-color: #141414;
    width: 100%;
    min-height: 100vh;
}

.titleCoin {
    display: flex;
    align-items: center;
    color: white;
}

.SingleSymbol {
    text-transform: uppercase;
    color: grey;
    margin-left: 0.5rem;
    font-size: 15px;
    /* Add some space between the name and the symbol */
}

.timeChart{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}



.titleCoin img {
    width: 35px;
    height: 35px;
    /* Opzionale: */
    vertical-align: middle;
}

.titleCoin h4 {
    margin: 0 0 0 0.5rem;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.titleCoin h5 {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .CryptoCoinDiv {
        padding: 2rem;
    }
}