* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CryptoCoinDiv {
    padding: 5rem 10rem 5rem 10rem;
    background-color: #141414;
    width: 100%;
    min-height: 100vh;
}

.titleCoin {
    display: flex;
    align-items: center;
    color: white;
}

.SingleSymbol {
    text-transform: uppercase;
    color: grey;
    margin-left: 0.5rem;
    font-size: 15px;
}

.coinData {
        width: calc(100% - 70rem);
        color: whitesmoke
}

.price {

    display: flex;
    justify-content: left;
    margin-bottom: 2rem; 
}

.mainPage {
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: flex-start; /* Aligned items to start, to ensure desc is at the top */
    gap: 2rem;
}

.canvasContainer {
    width: 70rem;
    flex-direction: column;
}

.timeChart {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
}

.timeChart > a:link {
    background-color: transparent;
    text-decoration: none;
    text-decoration-color: #32CD32;
}

.titleCoin img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.titleCoin h4 {
    margin: 0 0 0 0.5rem;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.titleCoin h5 {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .CryptoCoinDiv {
        padding: 2rem;
    }
}
